body {
  color: $black;
  font-family: $base-font;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

h1,
h2,
h3,
h4, {
  @extend %heading-font;
}

p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.heading {
  padding: $gutter * 2;
  text-align: center;
}
